In [1]:
import pandas as pd
import numpy as np

## 重新索引

### Series

In [2]:
s = pd.Series([1, 3, 5, 6, 8], index=list('acefh'))
s

a    1
c    3
e    5
f    6
h    8
dtype: int64

In [3]:
s.reindex(list('abcdefgh'))

a     1
b   NaN
c     3
d   NaN
e     5
f     6
g   NaN
h     8
dtype: float64

In [4]:
s.reindex(list('abcdefgh'), fill_value=0)

a    1
b    0
c    3
d    0
e    5
f    6
g    0
h    8
dtype: int64

In [5]:
# method='bfill'
s.reindex(list('abcdefgh'), method='ffill')

a    1
b    1
c    3
d    3
e    5
f    6
g    6
h    8
dtype: int64

### DataFrame

In [6]:
df = pd.DataFrame(np.random.randn(4, 6), index=list('ADFH'), columns=['one', 'two', 'three', 'four', 'five', 'six'])
df

        one       two     three      four      five       six
A -0.049437 -0.526499  1.780662  1.154747  2.434957 -1.579278
D -0.075226  0.552163 -0.462732 -0.936051 -0.590041  0.484505
F  1.486168  0.725907  0.598127 -0.704809 -2.815687 -0.062462
H -0.900819 -0.177751 -0.232796  0.234088 -1.758574  1.255955

In [7]:
df2 = df.reindex(index=list('ABCDEFGH'))
df2

        one       two     three      four      five       six
A -0.049437 -0.526499  1.780662  1.154747  2.434957 -1.579278
B       NaN       NaN       NaN       NaN       NaN       NaN
C       NaN       NaN       NaN       NaN       NaN       NaN
D -0.075226  0.552163 -0.462732 -0.936051 -0.590041  0.484505
E       NaN       NaN       NaN       NaN       NaN       NaN
F  1.486168  0.725907  0.598127 -0.704809 -2.815687 -0.062462
G       NaN       NaN       NaN       NaN       NaN       NaN
H -0.900819 -0.177751 -0.232796  0.234088 -1.758574  1.255955

In [8]:
df.loc['A']['one'] = 100
df

          one       two     three      four      five       six
A  100.000000 -0.526499  1.780662  1.154747  2.434957 -1.579278
D   -0.075226  0.552163 -0.462732 -0.936051 -0.590041  0.484505
F    1.486168  0.725907  0.598127 -0.704809 -2.815687 -0.062462
H   -0.900819 -0.177751 -0.232796  0.234088 -1.758574  1.255955

In [9]:
df2

        one       two     three      four      five       six
A -0.049437 -0.526499  1.780662  1.154747  2.434957 -1.579278
B       NaN       NaN       NaN       NaN       NaN       NaN
C       NaN       NaN       NaN       NaN       NaN       NaN
D -0.075226  0.552163 -0.462732 -0.936051 -0.590041  0.484505
E       NaN       NaN       NaN       NaN       NaN       NaN
F  1.486168  0.725907  0.598127 -0.704809 -2.815687 -0.062462
G       NaN       NaN       NaN       NaN       NaN       NaN
H -0.900819 -0.177751 -0.232796  0.234088 -1.758574  1.255955

In [10]:
df.reindex(columns=['one', 'three', 'five', 'seven'])

          one     three      five  seven
A  100.000000  1.780662  2.434957    NaN
D   -0.075226 -0.462732 -0.590041    NaN
F    1.486168  0.598127 -2.815687    NaN
H   -0.900819 -0.232796 -1.758574    NaN

In [11]:
df.reindex(columns=['one', 'three', 'five', 'seven'], fill_value=0)

          one     three      five  seven
A  100.000000  1.780662  2.434957      0
D   -0.075226 -0.462732 -0.590041      0
F    1.486168  0.598127 -2.815687      0
H   -0.900819 -0.232796 -1.758574      0

In [12]:
# fill method 只对行有效
df.reindex(columns=['one', 'three', 'five', 'seven'], method='ffill')

          one     three      five  seven
A  100.000000  1.780662  2.434957    NaN
D   -0.075226 -0.462732 -0.590041    NaN
F    1.486168  0.598127 -2.815687    NaN
H   -0.900819 -0.232796 -1.758574    NaN

In [13]:
df.reindex(index=list('ABCDEFGH'), method='ffill')

          one       two     three      four      five       six
A  100.000000 -0.526499  1.780662  1.154747  2.434957 -1.579278
B  100.000000 -0.526499  1.780662  1.154747  2.434957 -1.579278
C  100.000000 -0.526499  1.780662  1.154747  2.434957 -1.579278
D   -0.075226  0.552163 -0.462732 -0.936051 -0.590041  0.484505
E   -0.075226  0.552163 -0.462732 -0.936051 -0.590041  0.484505
F    1.486168  0.725907  0.598127 -0.704809 -2.815687 -0.062462
G    1.486168  0.725907  0.598127 -0.704809 -2.815687 -0.062462
H   -0.900819 -0.177751 -0.232796  0.234088 -1.758574  1.255955

## 丢弃部分数据

In [14]:
df = pd.DataFrame(np.random.randn(4, 6), index=list('ABCD'), columns=['one', 'two', 'three', 'four', 'five', 'six'])
df

        one       two     three      four      five       six
A -0.665415 -0.061367  0.075058  0.626415 -1.748458 -0.608540
B -1.455186  1.846691  0.234276  0.660298 -2.169835 -1.476485
C  0.322281  0.505378  0.198458 -0.831919 -0.630789  0.762524
D  0.703684 -0.827597  0.178063  0.108453 -0.418992  0.242912

In [15]:
df.drop('A')

        one       two     three      four      five       six
B -1.455186  1.846691  0.234276  0.660298 -2.169835 -1.476485
C  0.322281  0.505378  0.198458 -0.831919 -0.630789  0.762524
D  0.703684 -0.827597  0.178063  0.108453 -0.418992  0.242912

In [16]:
df2 = df.drop(['two', 'four'], axis=1)
df2

        one     three      five       six
A -0.665415  0.075058 -1.748458 -0.608540
B -1.455186  0.234276 -2.169835 -1.476485
C  0.322281  0.198458 -0.630789  0.762524
D  0.703684  0.178063 -0.418992  0.242912

In [17]:
# 数据拷贝
df.iloc[0, 0] = 100
df

          one       two     three      four      five       six
A  100.000000 -0.061367  0.075058  0.626415 -1.748458 -0.608540
B   -1.455186  1.846691  0.234276  0.660298 -2.169835 -1.476485
C    0.322281  0.505378  0.198458 -0.831919 -0.630789  0.762524
D    0.703684 -0.827597  0.178063  0.108453 -0.418992  0.242912

In [18]:
df2

        one     three      five       six
A -0.665415  0.075058 -1.748458 -0.608540
B -1.455186  0.234276 -2.169835 -1.476485
C  0.322281  0.198458 -0.630789  0.762524
D  0.703684  0.178063 -0.418992  0.242912

### 广播运算

In [19]:
df = pd.DataFrame(np.arange(12).reshape(4, 3), index=['one', 'two', 'three', 'four'], columns=list('ABC'))
df

       A   B   C
one    0   1   2
two    3   4   5
three  6   7   8
four   9  10  11

In [20]:
df.loc['one']

A    0
B    1
C    2
Name: one, dtype: int64

In [21]:
df - df.loc['one']

       A  B  C
one    0  0  0
two    3  3  3
three  6  6  6
four   9  9  9

### 函数应用

* apply: 将数据按行或列进行计算
* applymap: 将数据按元素为进行计算

In [22]:
df = pd.DataFrame(np.arange(12).reshape(4, 3), index=['one', 'two', 'three', 'four'], columns=list('ABC'))
df

       A   B   C
one    0   1   2
two    3   4   5
three  6   7   8
four   9  10  11

In [23]:
# 每一列作为一个 Series 作为参数传递给 lambda 函数
df.apply(lambda x: x.max() - x.min())

A    9
B    9
C    9
dtype: int64

In [24]:
# 每一行作为一个 Series 作为参数传递给 lambda 函数
df.apply(lambda x: x.max() - x.min(), axis=1)

one      2
two      2
three    2
four     2
dtype: int64

In [25]:
# 返回多个值组成的 Series
def min_max(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
df.apply(min_max, axis=1)

       min  max
one      0    2
two      3    5
three    6    8
four     9   11

In [26]:
# applymap: 逐元素运算
df = pd.DataFrame(np.random.randn(4, 3), index=['one', 'two', 'three', 'four'], columns=list('ABC'))
df

              A         B         C
one   -1.126089 -0.286584  1.538841
two    1.804348 -0.709293 -0.400643
three -1.008037 -0.791648  0.388505
four  -0.071827  0.659098 -0.505030

In [27]:
formater = '{0:.02f}'.format
# formater = lambda x: '%.02f' % x
df.applymap(formater)

           A      B      C
one    -1.13  -0.29   1.54
two     1.80  -0.71  -0.40
three  -1.01  -0.79   0.39
four   -0.07   0.66  -0.51

### 排序和排名

In [28]:
df = pd.DataFrame(np.random.randint(1, 10, (4, 3)), index=list('ABCD'), columns=['one', 'two', 'three'])
df

   one  two  three
A    7    8      5
B    2    6      4
C    4    5      4
D    6    2      1

In [29]:
df.sort_values(by='one')

   one  two  three
B    2    6      4
C    4    5      4
D    6    2      1
A    7    8      5

In [30]:
s = pd.Series([3, 6, 2, 6, 4])

In [31]:
s.rank()

0    2.0
1    4.5
2    1.0
3    4.5
4    3.0
dtype: float64

In [32]:
s.rank(method='first', ascending=False)

0    4
1    1
2    5
3    2
4    3
dtype: float64

### 数据唯一性及成员资格

适用于 Series

In [33]:
s = pd.Series(list('abbcdabacad'))
s

0     a
1     b
2     b
3     c
4     d
5     a
6     b
7     a
8     c
9     a
10    d
dtype: object

In [34]:
s.unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [35]:
s.value_counts()

a    4
b    3
d    2
c    2
dtype: int64

In [36]:
s.isin(['a', 'b', 'c'])

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10    False
dtype: bool

### 索引

* 行索引
* 列索引
* 索引的分类
* 重复索引的处理

In [69]:
s = pd.Series(np.random.rand(5), index=list('abcde'))
s

a    0.566924
b    0.603482
c    0.341639
d    0.164181
e    0.137200
dtype: float64

In [70]:
s.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [74]:
s.index.name = 'alpha'
s

alpha
a    0.566924
b    0.603482
c    0.341639
d    0.164181
e    0.137200
dtype: float64

In [77]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['one', 'two', 'three'])
df

        one       two     three
0  0.131579  1.122725 -1.920064
1  0.383557 -0.039625 -0.716855
2 -0.391827 -1.886698 -1.131089
3 -0.116749  1.369576 -1.314630

In [78]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [79]:
df.columns

Index([u'one', u'two', u'three'], dtype='object')

In [80]:
pd.*Index?

#### 重复索引

In [82]:
s = pd.Series(np.arange(6), index=list('abcbda'))
s

a    0
b    1
c    2
b    3
d    4
a    5
dtype: int64

In [83]:
s['a']

a    0
a    5
dtype: int64

In [84]:
s['c']

2

In [86]:
s.index.is_unique

False

In [87]:
s.index.unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [95]:
s.groupby(s.index).sum()

a    5
b    4
c    2
d    4
dtype: int64

### 层次化索引

可以使数据在一个轴上有多个索引级别。即可以用二维的数据表达更高维度的数据，使数据组织方式更清晰。它使用 pd.MultiIndex 类来表示。

#### 层次化索引有什么作用？

比如我们在分析股票数据，我们的一级行索引可以是日期；二级行索引可以是股票代码，列索引可以是股票的交易量，开盘价，收盘价等等。这样我们就可以把多个股票放在同一个时间维度下进行考察和分析。

#### Series 多层索引

In [37]:
a = [['a', 'a', 'a', 'b', 'b', 'c', 'c'], [1, 2, 3, 1, 2, 2, 3]]
tuples = list(zip(*a))
tuples

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('c', 2), ('c', 3)]

In [38]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[[u'a', u'b', u'c'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2], [0, 1, 2, 0, 1, 1, 2]],
           names=[u'first', u'second'])

In [39]:
s = pd.Series(np.random.randn(7), index=index)
s

first  second
a      1        -1.192113
       2         0.226627
       3         0.390052
b      1         0.045297
       2         1.552926
c      2         0.014007
       3        -0.257103
dtype: float64

In [40]:
s.index

MultiIndex(levels=[[u'a', u'b', u'c'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2], [0, 1, 2, 0, 1, 1, 2]],
           names=[u'first', u'second'])

In [41]:
s.index.levels[0]

Index([u'a', u'b', u'c'], dtype='object', name=u'first')

In [42]:
s.index.levels[1]

Int64Index([1, 2, 3], dtype='int64', name=u'second')

In [43]:
s['b']

second
1    0.045297
2    1.552926
dtype: float64

In [44]:
s['b':'c']

first  second
b      1         0.045297
       2         1.552926
c      2         0.014007
       3        -0.257103
dtype: float64

In [45]:
s[['b', 'a']]

first  second
b      1         0.045297
       2         1.552926
a      1        -1.192113
       2         0.226627
       3         0.390052
dtype: float64

In [46]:
s['b', 1]

0.045297227336673768

In [47]:
s[:, 2]

first
a    0.226627
b    1.552926
c    0.014007
dtype: float64

#### DataFrame 多层索引

In [48]:
df = pd.DataFrame(np.random.randint(1, 10, (4, 3)), 
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns=[['one', 'one', 'two'], ['blue', 'red', 'blue']])
df.index.names = ['row-1', 'row-2']
df.columns.names = ['col-1', 'col-2']
df

col-1        one      two
col-2       blue red blue
row-1 row-2
a     1        7   6    7
      2        1   5    9
b     1        3   5    5
      2        2   8    3

In [49]:
df.loc['a']

col-1  one      two
col-2 blue red blue
row-2
1        7   6    7
2        1   5    9

In [50]:
type(df.loc['a'])

pandas.core.frame.DataFrame

In [51]:
df.loc['a', 1]

col-1  col-2
one    blue     7
       red      6
two    blue     7
Name: (a, 1), dtype: int64

In [52]:
df.loc['a', 1].index

MultiIndex(levels=[[u'one', u'two'], [u'blue', u'red']],
           labels=[[0, 0, 1], [0, 1, 0]],
           names=[u'col-1', u'col-2'])

#### 索引交换及排序

In [53]:
df

col-1        one      two
col-2       blue red blue
row-1 row-2
a     1        7   6    7
      2        1   5    9
b     1        3   5    5
      2        2   8    3

In [54]:
df2 = df.swaplevel('row-1', 'row-2')
df2

col-1        one      two
col-2       blue red blue
row-2 row-1
1     a        7   6    7
2     a        1   5    9
1     b        3   5    5
2     b        2   8    3

In [55]:
df2.sortlevel(0)

col-1        one      two
col-2       blue red blue
row-2 row-1
1     a        7   6    7
      b        3   5    5
2     a        1   5    9
      b        2   8    3

#### 按照索引级别进行统计

In [56]:
df

col-1        one      two
col-2       blue red blue
row-1 row-2
a     1        7   6    7
      2        1   5    9
b     1        3   5    5
      2        2   8    3

In [57]:
df.sum(level=0)

col-1  one      two
col-2 blue red blue
row-1
a        8  11   16
b        5  13    8

In [58]:
df.sum(level=1)

col-1  one      two
col-2 blue red blue
row-2
1       10  11   12
2        3  13   12

In [59]:
df2.sum(level=0)

col-1  one      two
col-2 blue red blue
row-2
1       10  11   12
2        3  13   12

#### 索引与列的转换

In [60]:
df = pd.DataFrame({
        'a': range(7),
        'b': range(7, 0, -1),
        'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
        'd': [0, 1, 2, 0, 1, 2, 3]
    })
df

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [61]:
df.set_index('c')

     a  b  d
c
one  0  7  0
one  1  6  1
one  2  5  2
two  3  4  0
two  4  3  1
two  5  2  2
two  6  1  3

In [62]:
df2 = df.set_index(['c', 'd'])
df2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [63]:
df3 = df2.reset_index().sort_index('columns')
df3

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [64]:
(df3 == df)

      a     b     c     d
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True
4  True  True  True  True
5  True  True  True  True
6  True  True  True  True

In [67]:
pd.IndexSlice